html body {
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body,
#app,
.page {
  height: 100%;
}

//a,
//body,
//Button,
//div,
//form,
//html,
//img,
//label,
//span,
//textarea {
//  margin: 0;
//  padding: 0;
//  border: 0;
//  font: inherit;
//  vertical-align: baseline;
//}
//ol,li,li{list-style: none}
//a{text-decoration: none}
//
//* *::after,
//*::before {
//  box-sizing: border-box;
//}
