::-webkit-scrollbar{
  width: 0;
}
.demo-block .description[data-v-58cf5a10]{
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
blockquote{
  background: aliceblue;
  border-radius: 4px;
}
.row{
  padding-bottom: 20px;
}
.jc-button-group{
  display: flex;
  margin-bottom: 10px;
}

// 样式丢失，不知道什么原因
.jc-input_suffix{
  .jc-input__suffix{
    user-select: none;
    -webkit-user-select: none;
    position: absolute;
    right: 10px;
    height: 100%;
    top: 0;
    line-height: 40px;
    text-align: center;
    color: #c0c4cc;
    transition: all .3s;
    z-index: 900;
    i{
      color: #c0c4cc;
      font-size: 14px;
      cursor: pointer;
      transition: color .2s cubic-bezier(.645,.045,.355,1);
    }
  }
}

